.StyledTextarea {
    width: 320px;
    font-family: IBM Plex Sans, sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 12px;
    border-radius: 12px;
    color: #24292f;
    background: #fff;
    border: 1px solid #d0d7de;
    box-shadow: 0px 2px 2px #f6f8fa;
}
/* Hover styles */
TextareaAutosize.StyledTextarea:hover {
  border-color:#3399FF;
}

/* Focus styles */
TextareaAutosize.StyledTextarea:focus {
  border-color:#3399FF;
  box-shadow: 0 0 0 3px #b6daff;
}

/* Focus styles for Firefox */
TextareaAutosize.StyledTextarea:focus-visible {
  outline: 0;
}